{% load static %}
{% load django_browser_reload %}

<!DOCTYPE html>
<html lang="en">
<head>
    {% django_browser_reload_script %}

    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{{site_title}} Agenda</title>
    <link rel="stylesheet" href="{% static 'global/css/style.css' %}">
</head>
<body>

    <div class="bloco">
        <h1 class="cabecalho">
            <a href="{% url 'contact:index' %}" class="cabecalho_link">Agenda</a>
        </h1>

        <form method="get" action="{% url 'contact:search' %}">
            <input type="text" name="q" class="search" id="search" value="{{ request.GET.q.strip }}">
        </form>

        <div class="botoes">
            <button type="button" class="login">Login</button>
            <button type="button" class="register">Register</button>
        </div>

        <div class="search"></div>
    </div>

    <main>
        {% block content %}
        {% endblock %}
    </main>

    {% include "global/partials/_pagination.html" %}
</body>
</html>
