{% load static %}

<!DOCTYPE html>
<html lang="en">
<head>
    {% load django_browser_reload %}
    
    {% django_browser_reload_script %}

    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{{site_title}} Agenda</title>
    <link rel="stylesheet" href="{% static 'global/css/style.css' %}">
</head>
<body>
    
    <main>
        {% block content %}
        <!-- Outras páginas colocam conteúdo aqui -->
        {% endblock %}
    </main>
    {% include "global/partials/_pagination.html" %}
</body>
</html>