{% if page_obj %}
<div class="pagination">
    <span class="step-links">

        {% if page_obj.has_previous %}
            <a href="?page=1{% if request.GET.q %}&q={{ request.GET.q|urlencode }}{% endif %}">&laquo; INICIO</a>
            <a href="?page={{ page_obj.previous_page_number }}{% if request.GET.q %}&q={{ request.GET.q|urlencode }}{% endif %}">| anterior |</a>
        {% endif %}

        <span class="current">
            Página {{ page_obj.number }} de {{ page_obj.paginator.num_pages }}
        </span>

        {% if page_obj.has_next %}
            <a href="?page={{ page_obj.next_page_number }}{% if request.GET.q %}&q={{ request.GET.q|urlencode }}{% endif %}">| próxima</a>
            <a href="?page={{ page_obj.paginator.num_pages }}{% if request.GET.q %}&q={{ request.GET.q|urlencode }}{% endif %}">| ULTIMA &raquo;</a>
        {% endif %}

    </span>
</div>
{% endif %}
